.section1
    height: 80vh
    width: 100%
    background-color: black
    color: white

.section1-box
    width: 70%
    margin: auto

.section1-div1
    height: 30%
    width: 100%

.section1-div2
    height: 50%
    width: 100%

.section1-div3
    height: 20%
    width: 100%
