.section1
    height: 80vh
    width: 100%
    background-color: black
    color: white

.section1-box
    width: 70%
    margin: auto

.section1-div1
    height: 30%
    width: 100%

.section1-div2
    height: 50%
    width: 100%
    display: flex
    .section1-card1
        height: 100%
        width: 32%
        i
            font-size: 80px
            color: rgb(255,144,131)
    .section1-card2
        height: 100%
        width: 32%
        i
            font-size: 80px
            color: rgb(114,223,233)
    .section1-card3
        height: 100%
        width: 32%
        i
            font-size: 80px
            color: rgb(168,170,241)

.section1-div3
    height: 20%
    width: 100%
