.section8
    height: 90vh
    width: 100%
    display: flex
    align-items: center

.section8-box
    height: 95%
    width: 70%
    margin: auto
    border: 1px solid #dadada
    border-radius: 40px

.section8-div1
    height: 20%

.section8-div2
    height: 10%

.section8-div3
    height: 10%

.section8-div4
    height: 40%

.section8-div5
    height: 20%
