.section2
    height: 100vh
    width: 100%

.section2-box
    height: 90%
    width: 80%
    margin: auto

.section2-div1
    height: 30%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: end

.section2-div2
    height: 70%
    width: 100%
    display: flex

.colonne
    height: 100%
    width: 34%

.section2-i
    font-size: 80px !important
    color: rgb(255,144,131)
    margin-top: 20px

.colonne1
    height: 50%
    width: 100%
    border: solid 1px #d3d3d3
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &:hover
        background-color: black
        color: white
        transition: 0.2s
        i
            color: white

.col-box
    height: 70%
    width: 80%
