.section4
    height: 80vh
    width: 100%

.section4-box
    height: 95%
    width: 70%
    margin: auto
    display: flex
    justify-content: space-around
    gap: 10px

.section4-gauche
    height: 100%
    width: 50%

.section4-droite
    height: 100%
    width: 40%
